* {
  user-select: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  user-zoom: none;
}

body::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  height: 10% !important;
  border-radius: 10px !important;
}

.navbar {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.navbar-expand-lg,
.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-nav {
  margin: auto;
}

.nav-item {
  padding-right: 30px;
  font-size: 18px;
}

.nav-item .active {
  color: white !important;
}

.nav-item:hover {
  color: white !important;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  position: relative;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
  position: relative;
}

.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: grey;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  font-size: 23px;
  padding-top: 10px;
}

/* Style the social media icons with color, if you want */

.instagram {
  color: grey !important;
}

.github {
  color: grey !important;
  font-size: 25px !important;
}

.linkedin {
  color: grey !important;
}

.linkedin:hover {
  color: #000 !important;
}

.instagram:hover {
  color: #000 !important;
}

.github:hover {
  color: #000 !important;
}

.home {
  margin: 50px;
  margin-top: 10%;
  height: 75vh;
}

.greet {
  font-weight: 700;
  margin-top: 5%;
}

.name {
  font-size: 60px;
  font-weight: 900;
}

.subject {
  font-size: 50px;
  font-weight: 700;
}

.description {
  font-weight: 500;
}

.sticker {
  margin-top: -10;
  width: 330px;
  height: auto;
  float: right;
}

.hireMe {
  text-decoration: none;
  color: #06c;
  font-size: 18px;
  font-weight: 500;
}

.hireMe:hover {
  color: #3944bc;
}

.about {
  margin: 50px;
  margin-top: 5%;
  height: 75vh;
}

.titleAbout {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

.displayPicture {
  width: 300px;
  margin: 0 0 10px 5px !important;
  transform: rotate(-4deg);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.aboutDescription {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.work {
  margin: 50px;
  margin-top: 5%;
  height: 75vh;
}

.titleWork {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.card {
  height: 250px;
  margin-right: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0 !important;
}

.discover:hover,
.implement:hover {
  box-shadow: rgba(14, 122, 230, 0.2) 0px 8px 24px;
}

.plan:hover,
.design:hover {
  box-shadow: rgba(238, 223, 13, 0.2) 0px 8px 24px;
}

.sketch:hover {
  box-shadow: rgba(236, 10, 161, 0.2) 0px 8px 24px;
}

.discover {
  margin-left: 10px;
}

.card-subtitle {
  padding-top: 15px;
  font-weight: 500;
  font-size: 20px;
}

.card-text {
  color: grey;
  font-size: 15px;
}

.portfolio {
  margin: 50px;
  margin-top: 5%;
  height: 75vh;
}

.titlePortfolio {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.cardPortfolio {
  position: relative;
  margin-top: 100px;
  max-width: 300px;
}

.cardPortfolio .project1 {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.cardPortfolio .project1:hover {
  height: 270px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardPortfolio .project1 .screenshot {
  position: relative;
  width: 250px;
  height: 250px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.cardPortfolio .project1 .screenshot .image {
  max-width: 100%;
  border-radius: 15px;
}

.cardPortfolio .project1 .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.cardPortfolio .project1:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.visit {
  height: 35px;
  background: #000;
  border: 0;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
}

.visit:hover {
  background: grey;
}

.btn {
  color: #fff !important;
  font-family: "Poppins", sans-serif;
  font-size: 15px !important;
}

.btn:focus,
.vist:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.projectHeading {
  padding-top: 15px;
  font-weight: 500;
  font-size: 20px;
}

.projectText {
  color: grey;
  font-size: 15px;
}

#btn1 {
  margin-top: 33px;
}

#btn2 {
  margin-top: 12px;
}

#btn3 {
  margin-top: 37px;
}

.contact {
  margin: 50px;
  margin-top: 5%;
  height: 60vh;
}

.titleContact {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.contactText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: grey;
  margin: 10px 0 30px 0;
}

.hello {
  border-radius: 20px;
  border: 0;
  height: 50px;
  width: 150px;
  background: #000;
}

.hello:hover {
  background: grey;
}

.btnhello {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.btnhello:hover {
  color: #fff;
}

.btnhello:focus,
.hello:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.copyRights {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

@media (max-width: 912px) {
  .home {
    margin-top: 20% !important;
    height: auto !important;
    margin-bottom: 0 !important;
  }

  .sticker {
    width: 250px;
  }

  .greet {
    font-weight: 700;
    margin-top: 5%;
    font-size: 25px;
  }

  .name {
    font-size: 40px;
    font-weight: 900;
  }

  .subject {
    font-size: 38px;
    font-weight: 700;
    margin-top: 15px;
  }

  .description {
    font-weight: 500;
    font-size: 19px;
    margin-top: 25px !important;
  }

  .about {
    margin: 50px;
    margin-top: 15% !important;
    margin-bottom: 0 !important;
    height: auto !important;
  }

  .titleAbout {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 700;
    font-family: "Dancing Script", cursive;
  }

  .displayPicture {
    width: 350px;
    margin: 40px 0 10px 5px !important;
    transform: rotate(0deg);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .displayBorder {
    height: 200px;
  }

  .aboutDescription {
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
  }

  .work {
    margin: 50px;
    margin-top: 0 !important;
    height: 80vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .titleWork {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-left: 50px !important;
  }

  .card {
    height: 220px;
    width: 200px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0 !important;
    margin-right: 20px !important;
    margin-bottom: 0px !important;
  }

  .discover {
    margin-top: 0px !important;
  }

  .discover:hover,
  .implement:hover {
    box-shadow: rgba(14, 122, 230, 0.2) 0px 8px 24px;
  }

  .plan:hover,
  .design:hover {
    box-shadow: rgba(238, 223, 13, 0.2) 0px 8px 24px;
  }

  .sketch:hover {
    box-shadow: rgba(236, 10, 161, 0.2) 0px 8px 24px;
  }

  .discover {
    margin-left: 10px;
  }

  .card-subtitle {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
  }

  .card-text {
    color: grey;
    font-size: 15px;
  }

  .portfolio {
    margin: 50px;
    margin-top: 5%;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-self: center !important;
  }

  .titlePortfolio {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
  }

  .cardPortfolio {
    position: relative;
    margin-top: 100px;
    max-width: 300px;
    margin-bottom: 20px;
    display: flex !important;
    justify-content: center !important;
    align-self: center !important;
  }

  .cardPortfolio .project1 {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
  }
  .cardPortfolio .project1:hover {
    height: 270px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .cardPortfolio .project1 .screenshot {
    position: relative;
    width: 250px;
    height: 250px;
    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
  }

  .cardPortfolio .project1 .screenshot .image {
    max-width: 100%;
    border-radius: 15px;
  }

  .cardPortfolio .project1 .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .cardPortfolio .project1:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
  }

  .visit {
    height: 35px;
    background: #000;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
  }

  .visit:hover {
    background: grey;
  }

  .btn {
    color: #fff !important;
    font-family: "Poppins", sans-serif;
    font-size: 15px !important;
  }

  .btn:focus,
  .vist:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .projectHeading {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
  }

  .projectText {
    color: grey;
    font-size: 15px;
  }

  #btn1 {
    margin-top: 33px;
  }

  #btn2 {
    margin-top: 12px;
  }

  #btn3 {
    margin-top: 37px;
  }

  .contact {
    margin: 100px 50px 50px 50px !important;
    height: 30vh;
  }

  .titleContact {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 30 !important;
    font-size: 50px;
  }

  .contactText {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: grey;
    margin: 10px 0 30px 0;
  }

  .hello {
    border-radius: 20px;
    border: 0;
    height: 50px;
    width: 150px;
    background: #000;
  }

  .hello:hover {
    background: grey;
  }

  .btnhello {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
  }

  .btnhello:hover {
    color: #fff;
  }

  .btnhello:focus,
  .hello:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .copyRights {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 540px) {
  .home {
    margin-top: 10% !important;
    height: auto !important;
    margin-left: 8px !important;
  }

  .greet {
    font-weight: 700;
    margin-top: 5%;
    font-size: 25px;
  }

  .name {
    font-size: 40px;
    margin-top: 10px;
    font-weight: 900;
  }

  .subject {
    font-size: 38px;
    font-weight: 700;
    margin-top: 10px;
  }

  .description {
    font-weight: 500;
    font-size: 19px;
    margin-top: 25px !important;
  }

  .about {
    margin: 50px;
    margin-top: 5%;
    margin-left: 8px !important;
    height: auto !important;
  }

  .titleAbout {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    font-family: "Dancing Script", cursive;
  }

  .displayPicture {
    width: 210px;
    margin: 0 0 10px 5px !important;
    transform: rotate(0deg);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-left: 60px !important;
  }

  .aboutDescription {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
  }

  .work {
    margin: 50px;
    margin-top: 5%;
    height: 200vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .titleWork {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-left: 0 !important;
    overflow-x: hidden !important;
  }

  .card {
    height: 220px;
    width: 200px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0 !important;
    margin: 20px !important;
    margin-top: -20px !important;
    margin-bottom: 0px !important;
  }

  .discover {
    margin-top: -30px !important;
  }

  .discover:hover,
  .implement:hover {
    box-shadow: rgba(14, 122, 230, 0.2) 0px 8px 24px;
  }

  .plan:hover,
  .design:hover {
    box-shadow: rgba(238, 223, 13, 0.2) 0px 8px 24px;
  }

  .sketch:hover {
    box-shadow: rgba(236, 10, 161, 0.2) 0px 8px 24px;
  }

  .card-subtitle {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
  }

  .card-text {
    color: grey;
    font-size: 15px;
  }

  .portfolio {
    margin: 50px;
    margin-top: 5%;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .titlePortfolio {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
  }

  .cardPortfolio {
    position: relative;
    margin-top: 100px;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .cardPortfolio .project1 {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: transparent;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
  }
  .cardPortfolio .project1:hover {
    height: 270px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .cardPortfolio .project1 .screenshot {
    position: relative;
    width: 250px;
    height: 250px;
    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
  }

  .cardPortfolio .project1 .screenshot .image {
    max-width: 100%;
    border-radius: 15px;
  }

  .cardPortfolio .project1 .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .cardPortfolio .project1:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
    background: transparent;
  }

  .visit {
    height: 35px;
    background: #000;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
  }

  .visit:hover {
    background: grey;
  }

  .btn {
    color: #fff !important;
    font-family: "Poppins", sans-serif;
    font-size: 15px !important;
  }

  .btn:focus,
  .vist:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .projectHeading {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
  }

  .projectText {
    color: grey;
    font-size: 15px;
  }

  #btn1 {
    margin-top: 33px;
  }

  #btn2 {
    margin-top: 12px;
  }

  #btn3 {
    margin-top: 37px;
  }

  .contact {
    margin: 100px 50px 50px 50px !important;
    height: 68vh;
    margin-left: 10px !important;
  }

  .titleContact {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 30 !important;
    font-size: 45px;
  }

  .contactText {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: grey;
    margin: 10px 0 30px 0;
  }

  .hello {
    border-radius: 20px;
    border: 0;
    height: 50px;
    width: 150px;
    background: #000;
  }

  .hello:hover {
    background: grey;
  }

  .btnhello {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
  }

  .btnhello:hover {
    color: #fff;
  }

  .btnhello:focus,
  .hello:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .copyRights {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .home {
    margin-top: 10% !important;
    margin-left: 8px !important;
  }
  .name {
    font-size: 37px;
    margin-top: 0px;
    font-weight: 900;
  }
  .greet {
    font-weight: 700;
    margin-top: 5%;
    font-size: 25px;
  }

  .subject {
    font-size: 34px;
    font-weight: 700;
    margin-top: 10px;
  }

  .about {
    text-align: left;
  }
  .aboutDescription {
    text-align: left;
  }
  .contact {
    margin: 100px 50px 50px 50px !important;
    height: 70vh;
    margin-left: 10px !important;
  }

  .titleContact {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 30 !important;
    font-size: 38px;
  }
  .work {
    margin: 50px;
    margin-top: 5%;
    height: 250vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .displayPicture {
    margin-left: 30px !important;
  }
}
